# Database
DATABASE_URL="postgresql://user:password@localhost:5432/himate?schema=public"

# JWT
JWT_SECRET="your_jwt_secret_key_here"
REFRESH_TOKEN_SECRET="your_jwt_refresh_secret_key_here"

# Redis (for Socket.io and Presence)
REDIS_URL="redis://localhost:6379"

# SMTP (Email)
SMTP_HOST="smtp.example.com"
SMTP_PORT=587
SMTP_USER="user@example.com"
SMTP_PASS="password"
MAIL_FROM="noreply@example.com"

MAIL_FROM=izina_ryabo@gmail.com


# Firebase (Push Notifications)
FIREBASE_PROJECT_ID="your-project-id"
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"
FIREBASE_CLIENT_EMAIL="firebase-adminsdk@your-project-id.iam.gserviceaccount.com"

REDIS_URL=rediss://default:your_password@your-online-host.com:6379
REDIS_HOST=your-online-host.com
REDIS_PORT=6379
REDIS_PASSWORD=your_password


# Cloudinary (Media Uploads)
CLOUDINARY_NAME="your_cloud_name"
CLOUDINARY_API_KEY="your_api_key"
CLOUDINARY_API_SECRET="your_api_secret"

# --- APP CONFIGURATION ---
PORT=5000
APP_URL=https://himateappbackend.vercel.app
